name: Latest blog post workflow
on: 
    schedule:
        - cron: '* */24 * * *'
    workflow_dispatch:
jobs:
  profile-updater:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: kumackey/profile-updater@v1
        with:
          zenn_user_id: kinakomochi5250
      - name: Commit and push
        run: |
          git config --local user.name "GitHub Actions"
          git config --local user.email "action@github.com"
          git add .
          git commit -m "profile updated" || true
          git push origin main
